/* src/App.css */

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Remove default margin and padding */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
.add-book-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-book-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
